<% if (has_config('comment.shortname')) {
// Disqus supported languages.
// Last update at 4/18/2018
const SUPPORTED_LANGS = {
    'sq': 'Albanian',
    'ar': 'Arabic',
    'az': 'Azerbaijani',
    'eu': 'Basque',
    'ca': 'Catalan',
    'zh': 'Chinese',
    'cs': 'Czech',
    'da': 'Danish',
    'nl': 'Dutch',
    'en': 'English',
    'fi': 'Finnish',
    'fr': 'French',
    'de': 'German',
    'el': 'Greek',
    'he': 'Hebrew',
    'hu': 'Hungarian',
    'id': 'Indonesian',
    'it': 'Italian',
    'ja': 'Japanese',
    'ko': 'Korean',
    'lv': 'Latvian',
    'nb': 'Norwegian Bokmål',
    'fa': 'Persian',
    'pl': 'Polish',
    'pt': 'Portuguese',
    'pt_BR': 'Portuguese (Brazil)',
    'ro': 'Romanian',
    'ru': 'Russian',
    'sr': 'Serbian',
    'sr@latin': 'Serbian (Latin)',
    'sk': 'Slovak',
    'sl': 'Slovenian',
    'es_AR': 'Spanish (Argentina)',
    'es_MX': 'Spanish (Mexico)',
    'es_ES': 'Spanish (Spain)',
    'sv_SE': 'Swedish (Sweden)',
    'tr': 'Turkish',
    'uk': 'Ukrainian',
    'vec': 'Venetian'
};

function getDisqusLanguage(language) {
    const variant = language.split(/[-_]/).map((l, i) => i === 0 ? l.toLowerCase() : l.toUpperCase()).join('_');
    if (SUPPORTED_LANGS.hasOwnProperty(variant)) {
        return variant;
    }
    if (SUPPORTED_LANGS.hasOwnProperty(variant.split('_')[0])) {
        return variant.split('_')[0];
    }
    return 'en';
}
%>
<script>
    var disqus_config = function () {
        this.page.url = '<%= page.permalink %>';
        this.page.identifier = '<%= page.disqusId || page.path %>';
        <% if (page_language()) { %>
        this.language = '<%= getDisqusLanguage(page_language()) %>';
        <% } %>
    };
    (function() {
        var d = document, s = d.createElement('script');  
        s.src = '//' + '<%= get_config('comment.shortname') %>' + '.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<% } %>
<div id="disqus_thread">
    <% if (!has_config('comment.shortname')) { %>
    <div class="notification is-danger">
        You forgot to set the <code>shortname</code> for Disqus. Please set it in <code>_config.yml</code>.
    </div>
    <% } %>
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>