favicon: /favicon.png
open_graph:
  twitter_id:
  twitter_site:
  google_plus:
  fb_admins:
  fb_app_id:

logo:

article:
  readtime: true

menu:
  Archives: /archives
  Lifestyle: /categories/LifeStyle
  Music: /categories/Music
  Technology: /categories/Technology
  About: /about

search:
  type: insight

share:
  type: sharethis
  install_url:

comment:
  type: disqus
  shortname:

plugins:
  mathjax: true
  gallery: true
  google-analytics:
    tracking_id:

navbar_links:
  GitHub:
    icon: fab fa-github
    url: https://github.com/ppoffice/hexo-theme-minos

footer_links:
  GitHub: https://github.com/ppoffice/hexo-theme-minos
