<section class="section section-heading">
    <div class="container">
        <div class="content">
            <h5><i class="far fa-folder"></i><%= page.category %></h5>
        </div>
    </div>
</section>
<%- partial('index', { page }) %>