<section class="section section-heading">
    <div class="container">
        <div class="content">
            <h5>#<%= page.tag %></h5>
        </div>
    </div>
</section>
<%- partial('index', { page }) %>