// Config
support-for-ie = false
vendor-prefixes = webkit moz ms official

// Colors
color-default = #111
color-grey = #939393
color-border = #ddd
color-background = white

// Fonts
font-default = 'PT Serif', 'STZhongsong', '华文中宋', 'Microsoft Yahei', serif
font-mono = "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace, '华文中宋'
font-icon = FontAwesome
font-icon-path = "fonts/fontawesome-webfont"
font-icon-version = "4.0.3"
font-size = 16px
line-height = 1.4em
line-height-title = 1em

// Header
logo-size = 40px
subtitle-size = 16px

// Layout
block-margin = 50px
mobile-nav-width = 280px

// Media queries
mq-large = "screen and (min-width: 1400px)"
mq-normal = "screen and (min-width: 840px)"
mq-mobile = "screen and (max-width: 839px)"