$family-serif: "Ovo", "Georgia", serif;
$border-color: #dbdbdb;
$family-mono: "Source Code Pro", monospace;

@import "../../../../node_modules/highlight.js/styles/atom-one-light";

body {
    font-family: $family-serif;
}

@media screen and (min-width: 1024px) {
    .container {
        max-width: 800px;
        width: 800px;
    }
}

.navbar-main {
    transition: 0.1s ease-in;
    border-bottom: 1px solid $border-color;

    a.navbar-item.is-active {
        color: #3273dc;
    }
}

.navbar-category {
    margin-top: 1rem;
    font-size: 0.9rem;
    text-transform: uppercase;
}

.article {
    &:not(:first-child) {
        padding-top: 1.5rem;
        border-top: 1px solid $border-color;
    }

    .article-title a,
    .article-meta a {
        color: inherit;
        border-bottom: 1px dotted transparent;
        &:hover {
            border-bottom-color: black;
        }
    }

    .article-meta {
        font-size: 0.9rem;
        text-transform: uppercase;

        .column:not(:first-child) {
            margin-left: -.75rem;
        }

        .article-category-link {
            margin: 0 0.3rem;
        }
    }

    .article-entry {
        margin-bottom: 2rem;
        font-size: 1.1rem;
    }

    .article-more-link a {
        font-size: 0.9rem;
        color: darkgray;
        border-bottom: 1px dotted transparent;
        &:hover {
            border-bottom-color: black;
        }
    }

    .article-tags {
        .column:not(:first-child) {
            margin-left: -.75rem;
        }

        span a {
            color: inherit;
            background: #f2f2f2;
            padding: 0.2rem 0.5rem;
            border-radius: 3px;
        }
    }

    .article-nav {
        a {
            color: darkgray;
            position: relative;
            display: inline-block;
        }

        .article-nav-prev a {
            padding-left: 1rem;

            &:before {
                top: 0;
                left: 0;
                content: '<';
                position: absolute;
            }
        }

        .article-nav-next a {
            padding-right: 1rem;

            &:after {
                top: 0;
                right: 0;
                content: '>';
                position: absolute;
            }
        }
    }

    .caption {
        display: block;
        color: darkgray;
        font-size: 0.95rem;
        text-align: center;
    }
}

.footer {
    padding: 3rem 0;
    font-size: 0.9rem;
    background: transparent;

    .content {
        margin-top: 2rem;
    }
}

$hljs-classes: "comment" "quote" "variable" "template" "attribute" "tag" "name" "regexp" "link" "name" "selector"
                "selector" "number" "meta" "built_in" "builtin" "literal" "type" "params" "string" "symbol" "bullet"
                "title" "section" "keyword" "selector" "deletion" "addition" "deletion" "addition" "emphasis" "strong";

code, pre {
    font-size: 0.85rem;
    font-family: $family-mono;
}

figure.highlight {
    @extend .hljs;
    padding: 0;
    margin: 0 0 1.5rem;

    @each $class in $hljs-classes {
        .#{$class} {
            @extend .hljs-#{$class} !optional;
        }
    }

    pre,
    table tr:hover {
        color: inherit;
        background: transparent;
    }

    table {
        width: auto;
    }

    pre {
        padding: 0;

        .line {
            line-height: 1.5rem;
        }
    }

    .gutter {
        text-align: right;
        background: rgba(200, 200, 200, 0.15);
    }
}

.pagination {
    .pagination-previous,
    .pagination-next,
    .pagination-link {
        border: none;

        &:active {
            box-shadow: none;
        }
    }

    .pagination-link.is-current {
        background-color: black;
    }

    .pagination-previous {
        &:before {
            top: calc(.375em - 1px);
            left: 0;
            content: '<';
            position: absolute;
        }
    }

    .pagination-next {
        &:before {
            top: calc(.375em - 1px);
            right: 0;
            content: '>';
            position: absolute;
        }
    }
}

.tag-title {
    padding: 3rem 0 0;
    margin-bottom: -2rem;
    text-transform: uppercase;
    //border-bottom: 1px solid $border-color;
}
