<footer class="footer">
    <div class="container">
        <div class="columns content">
            <div class="column is-narrow has-text-centered">
                &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>&nbsp;
                Powered by <a href="http://hexo.io/" target="_blank">Hexo</a> & <a
                        href="http://github.com/ppoffice/hexo-theme-minos">Minos</a>
            </div>
            <div class="column is-hidden-mobile"></div>
            <div class="column is-narrow">
                <div class="columns is-mobile is-multiline is-centered">
                    <a class="column is-narrow" href="#">GitHub</a>
                    <a class="column is-narrow" href="#">Facebook</a>
                    <a class="column is-narrow" href="#">Twitter</a>
                </div>
            </div>
        </div>
    </div>
</footer>