<% if (!head && !(has_config('plugins.clipboard') && get_config('plugins.clipboard') === false)) { %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
    <style>
        .hljs {
            position: relative;
        }
        .hljs > .clipboard-btn {
            position: absolute;
            right: 4px;
            top: 4px;
            display: none;
            background: none;
            border: none;
        }
        .hljs:hover .clipboard-btn {
            display: inline;
        }
    </style>
    <script>
      $(document).ready(function () {
        $('figure.hljs').each(function(i, figure) {
          var code = figure.querySelector('.code');
          code.id = 'code-' + i;
          var copyButton = $('<button data-clipboard-target-id=' + code.id +'>Copy</button>');

          copyButton.css('float', 'right');
          copyButton.addClass('clipboard-btn');
          figure.prepend(copyButton[0])
        })

        var clipboard = new ClipboardJS('.clipboard-btn', {
          target: function(trigger) {
            return document.getElementById(trigger.getAttribute('data-clipboard-target-id'));
          }
        });

        clipboard.on('success', function(e) {
          $(e.trigger).text("Copied!");
          e.clearSelection();
          setTimeout(function() {
            $(e.trigger).text("Copy");
          }, 2500);
        });

        clipboard.on('error', function(e) {
          $(e.trigger).text("Can't in Safari");
          setTimeout(function() {
            $(e.trigger).text("Copy");
          }, 2500);
        });
      })
    </script>
<% } %>