.archives-wrap
  margin: block-margin 0

.archives
  clearfix()

.archive-year-wrap,
.archive-category-wrap,
.archive-tag-wrap
  font-size: 1.4em
  margin-bottom: 1em
  a
    @extend $link

// .archive-year

.archives
  margin-left: 5px
  border-left: 1px solid color-border

// .archive-article

.archive-article-inner
  padding: 10px 10px 10px 12px
  margin: 15px 0 15px -2px
  border-left: 3px solid transparent
  &:hover
    border-left-color: black

.archive-article-title
  @extend $link

.archive-article-footer
  margin-top: 1em

.archive-article-date
  color: color-grey
  text-decoration: none
  font-size: 0.85em
  line-height: 1em
  margin-bottom: 0.5em
  display: block

#page-nav
  clearfix()
  margin: block-margin auto
  text-align: center
  overflow: hidden
  a, span
    width: 36px
    height: 36px
    margin: 0 5px
    line-height: 36px
    text-align: center
  a.prev,
  a.next
    margin: 0
    width: auto
  a
    @extends $link
  .prev
    float: left
  .next
    float: right
  .page-number
    display: inline-block
    @media mq-mobile
      display: none
  .current
    color: #fff
    border-radius: 18px
    background-color: black
  .space
    color: color-border