.fancybox-skin
  padding: 0 !important
  border-radius: 0
  font-family: font-default
  .fancybox-title
    .child
      background: none
      font-weight: 400
      font-size: font-size
      font-family: font-default
      text-shadow: 1px 3px 3px rgba(0,0,0,0.5)